{% extends "default.html" %} {% block title %}Welcome{% endblock %} {% block
content %}
<div class="cont">
	<div class="item item-1">
		<img
			id="image123"
			src="{{ url_for('static', filename='pictures/hompageimage.jpeg') }}"
			alt="albums"
		/>
	</div>
	<div class="item item-2">
		<button type="submit" class="btn btn-primary btn-lg">
			Search for album
		</button>
		<p>Powered by Spotify</p>
	</div>
	<div class="item item-3">
		Listen, rate albums and share them with your friends!
	</div>
	<div class="item item-4">
		This is a flask application that implements a rating system for albums. The
		application uses the AudioDB api to gather information about albums by an
		sertain artist and gives the user questions with which every song and the
		entire album as a whole is rated.
	</div>
</div>

{% endblock %}
