{% extends "default.html" %}{% block title %}Profile{% endblock %}{% block
content %}
<div id="result_page" class="container">
	{% if reviews%}
	<div class="resultlist">
		<div class="row">
			<div id="titlediv" class="col-12">
				<h1>Reviewed Albums</h1>
			</div>
		</div>
		<div class="row">
			<div class="col">
				<ul class="list">
					{% for review, album in reviews%}
					<li class="resultlitem">
						<div class="listcontent">
							<div class="albumimage">
								<img
									id="albunmimage1"
									src="{{album.image}}"
									alt="{{album['name']}}"
								/>
							</div>
							<div class="listtext">
								<div class="albumname">{{album.name}}</div>
								<div class="artistname1">
									{{album.artists}}
								</div>
							</div>
							<div id="al_rating">
								{{'%0.1f'|format(review.rating)	}}
							</div>
						</div>
					</li>
					{% endfor %}
				</ul>

				<p></p>
			</div>
		</div>
	</div>
	{% else %}
	<div class="resultlist">
		<div class="row">
			<div id="titlediv" class="col-12">
				<h1>No reviewed albums</h1>
			</div>
		</div>
	</div>
	{% endif %} {% endblock %}
</div>
