{% extends "default.html" %}{% block title %}Profile{% endblock %} {% block
javascript%}
<script>
	document.querySelectorAll(".resultlitem").forEach((li) => {
		li.addEventListener("click", () => {
			document.querySelector("#share").display = "inline"
		})
	})
</script>
{% endblock %} {% block content %}
<div id="result_page" class="container">
	<div
		id="share"
		class="elfsight-app-824e1493-7b78-4f90-b3a7-17154145dc92"
	></div>
	{% if reviews%}
	<div class="resultlist">
		<div class="row">
			<div id="titlediv" class="col-12">
				<h1>Reviewed Albums</h1>
			</div>
		</div>
		<div class="row">
			<div class="col">
				<ul class="list">
					{% for review, album in reviews%}
					<li class="resultlitem">
						<div class="listcontent">
							<div class="albumimage">
								<img
									id="albunmimage1"
									src="{{album.image}}"
									alt="{{album['name']}}"
								/>
							</div>
							<div class="listtext">
								<div class="albumname">
									{{album.name |truncate(30, true)}}
								</div>
								<div class="artistname1">
									{{album.artists}}
								</div>
							</div>
							<div id="al_rating">
								<b>{{'%0.1f'|format(review.rating) }}</b>
							</div>
						</div>
					</li>
					{% endfor %}
				</ul>

				<p></p>
			</div>
		</div>
	</div>
	{% else %}
	<div class="resultlist">
		<div class="row">
			<div id="titlediv" class="col-12">
				<h1>No reviewed albums</h1>
			</div>
		</div>
	</div>
	{% endif %} {% endblock %}
</div>
