{% extends "default.html" %}{% block javascript%}{% endblock %}{% block title
%}Search{% endblock %}{% block content %}
<div class="cont">
	<div class="item item-5">
		<form class="form-inline" method="POST" action="{{ url_for('result') }}">
			<div class="form-group mx-sm-3 mb-2">
				<input
					autocomplete="off"
					name="userinput"
					type="text"
					class="form-control"
					id="exampleFormControlInput1"
					placeholder="Search for album"
				/>
			</div>
			<button type="submit" class="btn btn-primary mb-2">
				Search
			</button>
		</form>
	</div>
</div>
{% endblock %}
